<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corty</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/error.css">
    <script src="https://kit.fontawesome.com/36284a76ca.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="logo">Corty</div>
      <input type="checkbox" id="nav_check" hidden />
      <nav>
        <ul>
            <li>
              <a href="" class="active">Inicio</a>
            </li>
            <li>
              <a href="https://www.geogz.xyz/" target="_blank">Portfolio</a>
            </li>
            <li>
              <a href="https://wa.me/51970201663?text=Yo%20te%20doy%20chamba">Contacto</a>
            </li>
            <li>
              <a href="https://www.instagram.com/geogz.dev/" target="_blank">Redes</a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Free</a>
            </li>
          </ul>
      </nav>
      <label for="nav_check" class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </label>
    </header>
    
    <main>
        <h1>4<span><i class="fas fa-ghost"></i></span>4</h1>
        <h2>Error: 404 pagina no encontrada</h2>
        <p>¡Lo sentimos, no se encontro esa pagina! <a href="/" style="color: rgb(180, 31, 31); text-decoration: overline;">Ir al inicio</a></p>
        
      </main>
  </body>
</html>
