<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corty</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta content="Corty By Geogz" property="og:title" />
    <meta content="Corty es una web que sirve para acortar tus enlaces, dandoles un toque mas simple y eficaz." property="og:description" />
    <meta content="https://media.qrtiger.com/blog/2020/09/5_81.jpeg" property="og:image" />
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/547/PNG/512/1455554314_line-15_icon-icons.com_53330.png"      
    sizes="32x32" type="image/png">
  </head>
  <body>
    <header>
      <div class="logo">Corty</div>
      <input type="checkbox" id="nav_check" hidden />
      <nav>
        <ul>
          <li>
            <a href="" class="active">Inicio</a>
          </li>
          <li>
            <a href="https://www.geogz.xyz/" target="_blank">Portfolio</a>
          </li>
          <li>
            <a href="https://wa.me/51970201663?text=Yo%20te%20doy%20chamba">Contacto</a>
          </li>
          <li>
            <a href="https://www.instagram.com/geogz.dev/" target="_blank">Redes</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Free</a>
          </li>
        </ul>
      </nav>
      <label for="nav_check" class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </label>
    </header>
    <div class="container">
      <h1>
        Simplifica para
        <span style="color: #7f8ff4; font-weight: 800">ganar</span> espacio
      </h1>
      <h2 style="text-align: center">
        "Simplifica tu presencia en línea con Corty: crea enlaces cortos<br
          class="show-for-large"
        />¡Todo lo que necesitas en una plataforma intuitiva y eficiente!"
        <strong>Corty Web</strong>.
      </h2>
      <br><br>
      <div class="nosequenombreponeramiclase">
        <form
          action="/"
          method="POST"
          enctype="application/x-www-form-urlencoded"
        >
          <input
            class="form-nose"
            type="url"
            id="linkoriginal"
            name="linkoriginal"
            placeholder="Escribe tu URL aquí. Ejemplo: www.elpepe.pe"
            required=""
          />
          <button type="submit" class="btn btn--pe btn--insano uppercase">
            Cortar
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
