<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link</title>
    <script>window.location.replace("<%= personalizado.linkoriginal %>");</script>
    <link rel="stylesheet" href="/css/style.css" />
    <meta content="Corty By Geogz" property="og:title" />
    <meta content="Entra al siguiente enlace recortado por www.corty.fun/" property="og:description" />
    <meta content="https://cdn-icons-png.flaticon.com/512/4776/4776967.png" property="og:image" />
    <meta property="og:image:width" content="696" /><meta property="og:image:height" content="418" />
    <link rel="icon" href="https://t.ly/img/marketing/extension-icon.png"      
    sizes="32x32" type="image/png">
</head>
<body>
    
</body>
</html>