<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link</title>
    <script>window.location.replace("<%= personalizado.linkoriginal %>");</script>
    <link rel="stylesheet" href="/css/style.css" />
    <meta content="Corty: Cortar Url" property="og:title" />
    <meta content="Corty es una web que sirve para recortar tus URL" property="og:description" />
    <meta content="https://cdn.icon-icons.com/icons2/547/PNG/512/1455554314_line-15_icon-icons.com_53330.png" property="og:image" />
    <meta content="GREEN" data-react-helmet="true" name="theme-color"/>
</head>
<body>
    
</body>
</html>